.footer-container {
  height: 35vh;
  background-color: var(--secondary);
  display: flex;
  justify-content: center; 
  align-items: center;
  position: sticky;
}

.footer-pages {
  display: flex;
  gap: 20px;
}
.footer-pages h2{
  text-decoration: underline;
}

.icons-container a {
  text-decoration: none;
  color: var(--primary);
  font-size: 40px;
  transition: all 0.3s ease;
  margin-right: 15px;
}

.icons-container a:hover {
  color: var(--accent);
  transform: scale(1.1);
  /* font-size: 40px;  */
}

.contact-wrapper{
  color: var(--primary);
}
.footer-text{
  color: var(--primary);
}
.link-title{
  color: var(--primary);
}
.links-container{
  display: flex;
  flex-direction: column;
}
.small-links{
  font-size: 20px; 
  margin: 0 10px; 
  color: var(--primary);
  text-decoration: none;
}
.small-links:hover{
  text-decoration: underline;
  color: var(--accent);

}
.info-title{
  color: var(--primary);
  text-decoration: underline;
}
